@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6601ff;
  --color-secondary: teal;
}

a.active {
  @apply text-blue-600;
}
